<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ form.username.errors }}
                        <input type="text" name="username" class="form-control" id="id_username" autocomplete="username">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        {{ form.password.errors }}
                        <input type="password" name="password" class="form-control" id="id_password" autocomplete="current-password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}